<!DOCTYPE html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : FullyCharge 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120604

-->
<!-- <html lang="en" manifest="offline.appcache"> -->
<html lang="en">

<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!-- <title>W!11 C0D3 4 (C0FF33||B33R||$$)</title>  -->
<title>Fullycharge by FCT</title>
<link href="stylesheets/index.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="shortcut icon" href="images/shortcut_icon.png" />
</head>
<body>
  
<div id="header-wrapper">
	<div id="header" class="container">
	  
	  <section id="cache" class='up_to_date' style="display: none">
      <span class='up_to_date'>The application is up to date</span>
      <span class='updating'>Downloading new assets...</span>
      <span class='dirty'>New assets are available; click here to get them!</span>
      <progress class='updating' min="0" max="100" value="0">
    </section>
    
		<div id="logo">
      <!-- <h1><a href="#home">W!11 C0D3 4 (C0FF33||B33R||$$)</a></h1>  -->
      <h1><a href="#home">Fullycharge</a></h1> 
		</div>
	</div>
	<div id="menu">
		<ul>
			<li><a href="#/blog" class='push_nav'>Blog</a></li>
			<li><a href="#/about" class='push_nav'>About</a></li>
			<li><a href="#/projects" class='push_nav'>Projects</a></li>
			<li><a href="#/contact" class='push_nav'>Contact</a></li>
			<li><a href="test.html" >Run tests</a></li>
		</ul>
	</div>
</div>

<div id="wrapper">
	<div id="page">
		<div id="box1">
      <div id='box_content'>
      </div>
		</div>
	</div>
</div>
<div id="footer">
	<p>
	  <a href="http://www.freecsstemplates.org">Design by FCT</a>
	</p>
</div>
<!-- end #footer -->
</body>

<script id="tpl_error_view" type="text/template">
  <p>It appears you have caught me while updating one of the content end points</p>
  <p>I'm embarassed</p>
  <p>Please try me again soon, or if the issue persists I'd love it if you
     shot me an email at goggin13@gmail.com and let me know!
  </p>
</script>

<script id="tpl_blog_view" type="text/template">
  <h3><%= title %></h3>
  <% if (!expanded) { %>
    <span class='toggle'>Expand</span>
  <% } else { %>
    <hr/>
    <%= content %><br/>
    <span class='toggle'>Collapse</span>
  <% } %>
</script>

<script id="tpl_blogs_view" type="text/template">
  <p>Random thoughts on random programming things</p>
  <div class='posts'></div>
</script>

<script id="tpl_about_view" type="text/template">
  <p>
    <img src='images/headshot.png' alt="matt goggin" />
    A graduate student at Cornell University</p>
  <p>I love web programming, testing, code quality</p>
  <p>
    Most especially, working in Rails, Coffeescript, Backbone.js, and Rspec seems to make the 
    happiest and most productive
  </p>
  <div class='clear'></div>
</script>

<script id='tpl_contact_view' type="text/template">
<div class="contact_link">
	<a target='_blank' href="http://stackoverflow.com/users/244355/goggin13">
		<img src="http://stackoverflow.com/users/flair/244355.png" 
				 width="208" 
				 height="58" 
				 alt="profile for goggin13 at Stack Overflow, Q&amp;A for professional and enthusiast programmers" 
				 title="profile for goggin13 at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
  </a>
</div>

<div class="contact_link">
  <a target='_blank' href='http://www.linkedin.com/profile/view?id=56436623'>
    <img src="images/linkedin.jpeg" />
  </a>
</div>

<div class="contact_link">		    
  <a target='_blank' href='https://github.com/goggin13'>
    <img src="images/github.png" />
  </a>
</div>

<div class="contact_link">	      
	<a target='_blank' href='http://www.facebook.com/profile.php?id=32701378'>
		<img src="images/facebook.png" />
	</a>
</div>

<div class="contact_link">	      
	<a target='_blank' href='http://projecteuler.net'>
		<img src="http://projecteuler.net/profile/goggin13.png" />
	</a>
</div>

<div class="contact_link">	      
	<a target='_blank' href='http://www.meetup.com/mysqlnyc/members/48860722'>
		<img src="images/meetup.png" />
	</a>
</div>

<div class="contact_link">	      
	<a target='_blank' href='mailto:goggin13@gmail.com?Subject=Hello World'>
		<img src="images/gmail.png" />
	</a>
</div>

<div class="clear"></div>

</script>

<script type="text/javascript">
  window.app = {};
  window.app.environment = window.location.href.indexOf("file:///") > -1 ? "development" : "production";
  window.app.blog_domain = (app.environment === 'development' ? 'http://localhost:3000/' : 'http://matt-goggin.herokuapp.com/');
</script>

<script type="text/javascript" src="javascripts/frameworks/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="javascripts/frameworks/underscore.js"></script>
<script type="text/javascript" src="javascripts/frameworks/backbone.js"></script>
<script type="text/javascript" src="javascripts/frameworks/mustache.js"></script>
<script type="text/javascript" src="javascripts/frameworks/showdown.js"></script>

<script type="text/javascript" src="javascripts/src/models/blog.js"></script>

<script type="text/javascript" src="javascripts/src/views/static_view.js"></script>
<script type="text/javascript" src="javascripts/src/views/home_view.js"></script>
<script type="text/javascript" src="javascripts/src/views/error_view.js"></script>
<script type="text/javascript" src="javascripts/src/views/blog_view.js"></script>
<script type="text/javascript" src="javascripts/src/views/contact_view.js"></script>
<script type="text/javascript" src="javascripts/src/views/about_view.js"></script>

<script type="text/javascript" src="javascripts/src/routers/application.js"></script>

<script type="text/javascript" src="javascripts/src/index.js"></script>

</html>
