<h1>blog</h1>
<hr/>
<p>
 <i><b>My random thoughts on random programming things</i></b>
</p>
<p>
 I hope you'll pardon my current small number of entries.  I assure you while
 I've had many more programming related thoughts, I only put this site
 together towards the end of summer.  Given time, I'm certain the quantity of thoughts
 will increase.  Likely the quality will not.
</p>
<div class='posts'></div>
